<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save new group</title>
</head>
<body>
<form action="#"
      th:action="@{'/api/groups/edit/' + ${groupId}}"
      method="post"
      th:object="${group}">

    <label for="groupName">group name</label>
    <input id="groupName" th:field="${group.groupName}" placeholder="example">
    <br><br>

    <label for="dateOfStart">date of start</label>
    <input id="dateOfStart" th:field="${group.dateOfStart}" placeholder="example">
    <br><br>

    <label for="dateOfFinish">date of finish</label>
    <input id="dateOfFinish" th:field="${group.dateOfFinish}" placeholder="example">
    <br><br>

    <button type="submit">edit</button>
</form>

<div>
    <a th:href="@{/api/groups}">
        <button>go back</button>
    </a>
</div>
</body>
</html>