<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<div>
    <a th:href="@{/api/companies}">
        <button>company</button>
    </a>
</div>
<div>
    <a th:href="@{/api/courses}">
        <button>course</button>
    </a>
</div>
<div>
    <a th:href="@{/api/groups}">
        <button>group</button>
    </a>
</div>
<div>
    <a th:href="@{/api/students}">
        <button>student</button>
    </a>
</div>
<div>
    <a th:href="@{/api/teachers}">
        <button>teacher</button>
    </a>
</div>

</body>
</html>